<main id="home">
	<div class="header">
		<h2>Recently added books</h2>
	</div>
	<div class="book-row">
		<div *ngFor="let book of booksByDate; index as i" class="book book{{ i+1 }}">
			<a routerLink="/book/{{ book.id }}">
				<div class="book-card">
					<div class="image">
						<img src="assets/{{ book.image }}" />
					</div>
					<div class="rating">
						{{ book.avgRating }}
					</div>
				</div>
				<div class="book-info">
					<h3>{{ book.title }}</h3>
					<p>{{ book.author }}</p>
				</div>
			</a>
		</div>
	</div>
	<div class="header">
		<h2>Highest rated books</h2>
	</div>
	<div class="book-row">
		<div *ngFor="let book of booksByRating; index as i" class="book book{{ i+1 }}">
			<a routerLink="/books/{{ book.id }}">
				<div class="book-card">
					<div class="image">
						<img src="assets/{{ book.image }}" />
					</div>
					<div class="rating">
						{{ book.ratings }}
					</div>
				</div>
				<div class="book-info">
					<h3>{{ book.title }}</h3>
					<p>{{ book.author }}</p>
				</div>
			</a>
		</div>
	</div>
</main>
