<main id="home">
	<div class="header">
		<h2>Recently added books</h2>
	</div>
	<section class="book-row">
		<div *ngFor="let book of booksByDate; index as i" class="book book{{ i+1 }}">
			<a routerLink="/books/{{ book.id }}">
				<div class="book-card">
					<div class="image">
						<img src="{{ book.image }}" alt="{{ book.title }} cover art" />
					</div>
					<div class="rating">
						{{ book.avgRating }}
					</div>
				</div>
				<div class="book-info">
					<h3>{{ book.title }}</h3>
					<p>{{ book.author }}</p>
				</div>
			</a>
		</div>
	</section>
	<div class="header">
		<h2>Highest rated books</h2>
	</div>
	<section class="book-row">
		<div *ngFor="let book of booksByRating; index as i" class="book book{{ i+1 }}">
			<a routerLink="/books/{{ book.id }}">
				<div class="book-card">
					<div class="image">
						<img src="{{ book.image }}" />
					</div>
					<div class="rating">
						{{ book.avgRating }}
					</div>
				</div>
				<div class="book-info">
					<h3>{{ book.title }}</h3>
					<p>{{ book.author }}</p>
				</div>
			</a>
		</div>
	</section>
	<section class="genres-wrapper">
		<div class="genres-wrapper-fader">
			<div class="header">
				<h2>Browse by genre</h2>
			</div>
			<div class="genres-row">
				<div *ngFor="let genre of genres; index as i" class="genre genre-{{i}}">
					<a routerLink="/genres/{{ genre.id }}">
						{{ genre.name }}
					</a>
				</div>
			</div>
		</div>
	</section>
</main>
