@import '../../../assets/scss/_config.scss';

#home {
	padding: 2rem;
	background: $secondary-color;

	.header {
		@include headerText;
	}

	.book-row {
		margin: 2rem 0;
		display: grid;
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
		grid-template-columns: 2rem repeat(5, 1fr) 2rem;
		grid-template-areas:
		". book1 book2 book3 book4 book5 .";

		a, a:visited {
			text-decoration: none;
		}

		a:hover {
			img {
				transform: scale(1.5);
			}
		}

		.book {
			@include dropShadow;

			.book-card {
				padding: 1rem 2rem 0rem 2rem;
				background: $primary-color;

				.rating {
					text-align: center;
					color: $tertiary-color;
					font-size: 1.3rem;
					padding: 0.2rem;
				}
				
				.image {
					overflow: hidden;
					
					img {
						margin: auto;
	  					display: block;
	  					aspect-ratio: 235 / 350;
	  					object-fit: cover;
	  					@include easeOut;
					}
				}
			}			

			.book-info {
				padding: 0.5rem;
				text-align: center;
				background: $tertiary-color;
				color: rgba($on-tertiary-color, 0.7);
				font-size: 1.5rem;

				h3, p {
					font-family: 'Roboto Condensed', sans-serif;
					font-size: 0.95rem;
				}
			}

			&.book1 {
				grid-area: book1;
			}

			&.book2 {
				grid-area: book2;
			}

			&.book3 {
				grid-area: book3;
			}

			&.book4 {
				grid-area: book4;
			}

			&.book5 {
				grid-area: book5;
			}
		}
	}
}

@include mediaXL {
	#home {
		.book-row {
			grid-template-columns: 2.5rem repeat(5, 1fr) 2.5rem;;
		}
	}
}

@include mediaLg {
	#home {
		.book-row {
			grid-template-columns: 1rem repeat(3, 1fr) 1rem;
			grid-template-areas:
			". book1 book2 book3 ."
			". book4 book5 . .";
		}
	}
}

@include mediaMd {
	#home {
		.book-row {
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas:
			'book1 book2' 
			'book3 book4'
			'book5 .';
		}
	}
}

@include mediaSm {
	#home {
		.book-row {
			grid-template-columns: 1fr;
			grid-template-areas:
			'book1' 
			'book2' 
			'book3'
			'book4' 
			'book5';
		}
	}
}