@import '../../../styles.scss';

main {
	padding: 2rem;
	background: $secondary-color;
	color: $on-primary-color;

	.header {
		text-align: center;
	}

	.book-row {
		margin: 2rem 0;
		display: grid;
		column-gap: 2rem;
		grid-row-gap: 2rem;
		grid-template-columns: 2rem repeat(5, 1fr) 2rem;
		grid-template-areas:
		". book1 book2 book3 book4 book5 .";

		.book {
			box-shadow: 
			0px 4px 8px 3px rgba(0, 0, 0, 0.15), 
			0px 1px 3px rgba(0, 0, 0, 0.35);

			.book-card {
				padding: 1rem 2rem 0rem 2rem;
				background: $primary-color;

				.rating {
					text-align: center;
					color: $tertiary-color;
					font-size: 1.3rem;
					padding: 0;
				}

				img {
					margin: auto;
  					display: block;
				}
			}			

			.book-info {
				padding: 0.5rem;
				text-align: center;
				background: $tertiary-color;
				color: rgba($on-tertiary-color, 0.7);
				font-size: 1.5rem;

				h3 {
					font-family: 'Roboto Condensed', sans-serif;
					font-size: 1rem;
				}

				p {
					font-family: 'Roboto Condensed', sans-serif;
					font-size: 1rem;
				}
			}

			&.book1 {
				grid-area: book1;
			}

			&.book2 {
				grid-area: book2;
			}

			&.book3 {
				grid-area: book3;
			}

			&.book4 {
				grid-area: book4;
			}

			&.book5 {
				grid-area: book5;
			}
		}
	}
}

@include mediaXL {
	
}

@include mediaLg {
	#home {
		.book-row {
			grid-template-columns: 1rem repeat(3, 1fr) 1rem;
			grid-template-areas:
			". book1 book2 book3 ."
			". book4 book5 . .";
		}
	}
}

@include mediaMd {
	#home {
		.book-row {
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas:
			'book1 book2' 
			'book3 book4'
			'book5 .';
		}
	}
}

@include mediaSm {
	#home {
		.book-row {
			grid-template-columns: 1fr;
			grid-template-areas:
			'book1' 
			'book2' 
			'book3'
			'book4' 
			'book5';
		}
	}
}