@import '../../../assets/scss/_config.scss';
@import '../../../assets/scss/_form.scss';

#login {
	background: $secondary-color;
	min-height: calc(100vh - 65px - 154px);
	
	.auth-form {
		margin: 2rem auto;
		padding: 1rem 2rem;
		background: $primary-color;
		width: 400px;

		h2 {
			@include headerText;		
		}

		form {
			@include authForm;
		}
	}	
}