<div id="delete-book">
	<div class="delete-book-form">
		<h2 class="page-header">Delete Book</h2>
		<form>
			<div class="form-group">
				<div>
					Are you certain you want to delete book: 
				</div>
				<div>
					{{ book.title }}
				</div>
				<div>
					{{ book.author }}
				</div>
				<div>
					{{ book.ISBN }}
				</div>
			</div>
			<div class="button-row">
				<input (click)="deleteBook()" type="submit" class="btn btn-primary" value="Delete">
				<input (click)="goBack()" type="submit" class="btn btn-secondary" value="Cancel">
			</div>
		</form>
	</div>
</div>
