<nav>
	<div class="container">
		<div class="navbar-header">
			<div class="navbar-title">
				Bookrater
			</div>
		</div>
		<div id="navbar">
			<ul class="nav navbar-left">
				<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
					<a routerLink="/">Home</a>
				</li>
				<li><a href="#">Genre</a></li>
				<li><a href="#">Charts</a></li>
			</ul>
			<ul class="nav navbar-right">
				<li routerLinkActive="active"><a routerLink="/register">Register</a></li>
				<li routerLinkActive="active"><a routerLink="/login">Login</a></li>
				<li routerLinkActive="active"><a routerLink="/profile">Profile</a></li>
				<li routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
				<li><a (click)="onLogoutClick()" routerLinkActive="active" href="#">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>
