<nav>
	<div class="container">
		<ul class="nav navbar-collapsed" (mouseenter)="toggleLeftMenu(true)">
			<li>
				<i class="fa fa-bars"></i>
			</li>
		</ul>
		<div class="navbar-header">
			<div class="navbar-title">
				Bookrater
			</div>
		</div>
		<div id="navbar">
			<ul class="nav navbar-left" [ngClass]="{'active': isLeftMenuOpen}" (mouseleave)="toggleLeftMenu(false)">
				<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
					<a routerLink="/">Home</a>
				</li>
				<li routerLinkActive="active"><a routerLink="/charts">Charts</a></li>
				<li>
					<app-book-search></app-book-search>
				</li>
			</ul>
			<ul class="nav navbar-right-collapsed" (mouseenter)="toggleRightMenu(true)">
				<li>
					<i class="far fa-user"></i>
				</li>
			</ul>
			<ul class="nav navbar-right" [ngClass]="{'active': isRightMenuOpen}" (mouseleave)="toggleRightMenu(false)">
				<li *ngIf="!authService.isUserloggedIn()" routerLinkActive="active"><a routerLink="/register">Register</a></li>
				<li *ngIf="!authService.isUserloggedIn()" routerLinkActive="active"><a routerLink="/login">Login</a></li>
				<li *ngIf="authService.isUserloggedIn()" routerLinkActive="active"><a routerLink="/profile">Profile</a></li>
				<li *ngIf="authService.isUserloggedIn()" routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
				<li *ngIf="authService.isUserloggedIn()"><a (click)="onLogoutClick()" routerLinkActive="active" href="#">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>
