@import '../../../assets/scss/_config.scss';

nav {
	background: $primary-color;
	color: $on-primary-color;
	text-transform: uppercase;
	height: 65px;
	line-height: 65px;

	.container {
		display: flex;
		justify-content: flex-start;
		padding: 0 1rem;
		
		.navbar-title {
			color: $on-primary-color;
			font-weight: 700;
			font-size: 2rem;
		}

		#navbar {
			display: flex;
			justify-content: space-between;
			width: 100%;
			z-index: 10;

			ul {
				list-style: none;
				display: inline;

				li {
					display: inline;
					padding: 0 1rem;
					color: rgba($on-primary-color, 0.55);
					
					&.active {
						a {
							color: $on-primary-color;
						}
					}

					a {
						text-decoration: none;
						color: rgba($on-primary-color, 0.55);

						&:hover {
							color: $on-primary-color;
						}
					}				
				}
			}	
		}		
	}	
}

@include mediaXL {
	nav {
		.container{
			.nav.navbar-collapsed {
				display: none;
			}

			#navbar {
				.nav.navbar-collapsed {
					display: none;
				}

				.nav.navbar-right-collapsed {
					display: none;
				}
			}
		}	
	}
}

@include mediaLg {
	nav {
		.container{
			.nav.navbar-collapsed {
				display: none;
			}

			#navbar {
				.nav.navbar-collapsed {
					display: none;
				}

				.nav.navbar-right {
					display: none;
				}

				.nav.navbar-right-collapsed {
					font-size: 1.5rem;
				}

				.nav.navbar-right.active {
					display: block;
					margin-top: 65px;
					top: 0px;
					right: 0;
					position: absolute;
					background: $primary-color;
					padding: 0;

					li {
						display: block;
						padding: 0 5rem;
						line-height: 40px;
						border-top: 1px solid rgba(black, 0.1);
					}
				}
			}
		}		
	}
}

@include mediaMd {
	nav {
		.container{
			.nav.navbar-collapsed {
				font-size: 1.5rem;
				margin-right: 1rem;
				padding-left: 0;
				display: block;
				
				li {
					list-style: none;				
				}
			}

			#navbar {
				justify-content: flex-end;

				.nav.navbar-right {
					display: none;
				}

				.nav.navbar-left {
					display: none;
				}

				.nav.navbar-right-collapsed {
					font-size: 1.5rem;
				}

				.nav.navbar-right.active {
					display: block;
					width: 100%;
					margin-top: 65px;
					top: 0px;
					right: 0;
					position: absolute;
					background: $primary-color;
					padding: 0;

					li {
						display: block;
						text-align: right;
						padding: 0 2rem;
						line-height: 40px;
						border-top: 1px solid rgba(black, 0.1);
					}
				}

				.nav.navbar-left.active {
					display: block;
					width: 100%;
					margin-top: 65px;
					top: 0px;
					right: 0;
					position: absolute;
					background: $primary-color;
					padding: 0;

					li {
						display: block;
						padding: 0 2rem;
						line-height: 40px;
						border-top: 1px solid rgba(black, 0.1);
					}
				}
			}
		}	
	}
}

@include mediaSm {
	nav {
		
	}
}