<footer>
	<div class="column column1">
		<h3 class="footer-header">Bookrater</h3>
		<ul class="footer-list">
			<li>Frank van de Voorde</li>
		</ul>
	</div>
	<div class="column column2">
		<h3 class="footer-header">Policy</h3>
		<ul class="footer-list">
			<li>FAQ</li>
			<li>Privacy Policy</li>
			<li>Terms of Service</li>
		</ul>
	</div>
	<div class="column column3">
		<h3 class="footer-header">Account</h3>
		<ul class="footer-list">
			<li>Profile</li>
			<li>Dashboard</li>
		</ul>
	</div>
	<div class="column column4">
		<h3 class="footer-header">Company Info</h3>
		<ul class="footer-list">
			<li>About Us</li>
			<li>Contact Us</li>
			<li>Ethics</li>
			<li>Sustainability</li>
		</ul>
	</div>
</footer>
