<main id="profile">
	<div class="profile-page">
		<h2 class="page-header">{{ user.name }}</h2>
		<div class="details">
			<div class="details-row">
				<div>Username:</div> 
				<div>{{ user.username }}</div>
			</div>
			<div class="details-row">
				<div>Email:</div> 
				<div>{{ user.email }}</div>
			</div>
			<div class="details-row">
				<div>Role</div> 
				<div>{{ user.role }}</div>
			</div>
			<div class="details-row">
				<div>Ratings:</div> 
				<div>{{ user.ratings.length }}</div>
			</div>
			<div class="details-row">
				<div>Reviews:</div> 
				<div>{{ user.reviews.length }}</div>
			</div>
		</div>
	</div>
</main>
