@import '../../../assets/scss/_config.scss';

.rating-component {
	display: inline-block;
	font-size: 1.2rem;

	.rating {
		background: none;
		border: none;
		padding-right: 0.3rem;
		font-size: 1.2rem;
		color: rgba($tertiary-color, 0.1);

		.selected {
			color: $tertiary-color;
		}
	}

	.rating-score {
		padding-left: 0.5rem;
		font-weight: 700;
		color: $tertiary-color;
		font-size: 1.2rem;
	}
}