<main id="book-details">
	<app-delete-book
		*ngIf="isDeleteBookActive"
		[book]="book"
		(onDeleteBook)="deleteBook($event)"
		(onCancel)="toggleIsDeleteBookActive()"
	></app-delete-book>
	<app-edit-book
		*ngIf="isEditBookActive"
		[book]="book"
		(onUpdateBook)="updateBook($event)"
		(onCancel)="toggleIsEditBookActive()"
	></app-edit-book>
	<div *ngIf="book" class="book">
		<div class="book-header"> 
			<h2> {{ book.title | uppercase }}</h2>
			<div class="book-header-author"><span>by </span>{{ book.author }}</div>
			<div class="book-header-description">{{ book.description }}</div>
		</div>
		<div class="image">
			<img src="assets/{{ book.image }}" alt="{{ book.title }} cover art"/>
		</div>
		<div class="info">
			<div>
				<div>
					<span>User Rating: </span>{{ book.avgRating }} 
					<span class="number-of-ratings">({{ getNumberOfRatings() }})</span>
				</div>
				<div><span>ISBN: </span>{{ book.ISBN }}</div>
				<div><span>Publisher: </span>{{ book.publisher }}</div>
				<div><span>Release Year: </span>{{ book.year }}</div>
				<div><span>Genres: </span><span class="genre-info" *ngFor="let genre of book.genres">{{ genre.name }}</span></div>
			</div>
			<div class="my-rating" *ngIf="authService.isUserloggedIn()">
				<div>
					<h4>My Rating</h4>
					<p>
						<app-rating 
							[book_id]="book.id" 
							[user]="user" 
							[isActive]="!checkIfBookHasBeenRated()"
							[selectedValue]="selectedValue"
							(onRatingChange)="updateRating($event)"
						></app-rating>
					</p>
				</div>
				<div class="button-row">
					<div class="buttons">
						<button 
							[disabled]="checkIfUserIsReading()" 
							class="btn btn-secondary"
							(click)="updateUser()">
							Reading Now
						</button>
					</div>
					<div class="admin-buttons" *ngIf="authService.hasAdminRights(user ? user.role : '')">
						<button
							(click)="openEditBookDialog()"  
							class="btn btn-primary">
							Edit Book
						</button>
						<button 
							(click)="openDeleteBookDialog()" 
							class="btn btn-primary">
							Delete Book
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="rating-breakdown">
			<h3>Rating breakdown</h3>
			<div *ngFor="let number of [5, 4, 3, 2, 1]" class="rating-{{number}}">
				<div class="rating-stars">
					<i *ngFor="let number of [5, 4, 3, 2, 1]" class="fa fa-star"></i>
				</div>
				<div class="rating-bar">
					<div class="rating-highlighted" [ngStyle]="{'width': getRatingScorePercentage(book.ratings[number]) +'%'}"></div>
					<div class="rating-dull" [ngStyle]="{'width': 100 - getRatingScorePercentage(book.ratings[number]) +'%'}"></div>
				</div>
				<div class="rating-scores">
					{{ book.ratings[number] }} <span>({{ getRatingScorePercentage(book.ratings[number]) }}%)</span>
				</div>
			</div>
		</div>
	</div>
</main>
