<main id="book-details">
	<div *ngIf="book">
		<h2> {{ book.title | uppercase }}</h2>
		<div><span>by </span>{{ book.author }}</div>
		<div class="book-details">
			<div>
				<span>User Rating: </span>{{ book.avgRating }} 
				<span class="number-of-ratings">({{ getNumberOfRatings() }})</span>
			</div>
			<div><span>ISBN: </span>{{ book.ISBN }}</div>
			<div><span>Publisher: </span>{{ book.publisher }}</div>
			<div><span>Release Year: </span>{{ book.year }}</div>
			<div><span>Genres: </span>{{ book.genres }}</div>
		</div>
	</div>
</main>
